.logo {
    max-width: 10rem;
    max-height: 10rem;
    margin-top: -1rem;
    margin-bottom:-1rem;
}


.nav-link:focus{
  color: rgb(54, 162, 235) !important ; }


.nav-link:active{
    color: rgb(54, 162, 235) !important ; }

.dropdown-item:{
  text-align: center !important;
}