:root {
  --mainBlue: indigo;
  --lightBlue: royalblue;
  --mainwhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffe484;
}

body {
  background: var(--mainwhite) !important;
  color: var(--mainDark) !important;
}
